* {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
}

.card {
  width: 380px;
  height: 550px;
  border-radius: 30px;
}

.left {
  padding: 40px;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-top: 50px;
  background-image: linear-gradient(
    to top,
    hsl(241, 81%, 54%),
    hsla(256, 72%, 46%, 1)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-top,
.circle-bottom {
  background-color: transparent;
}

.circle-top {
  font-weight: 800;
  font-size: 80px;
  color: hsl(0, 0%, 100%);
}

.circle-bottom {
  font-weight: 600;
  font-size: 15px;
  color: hsl(241, 100%, 89%);
}

.top-text {
  text-align: center;
  background-color: transparent;
  color: hsl(241, 100%, 89%);
}

.bottom-text {
  background-color: transparent;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.bottom-title {
  color: hsl(0, 0%, 100%);
  font-size: 45px;
  background-color: transparent;
}

.bottom-body {
  text-align: center;
  margin: 20px 30px;
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  background-color: transparent;
}

/* left card ----------------------------------------------------------------------- */
.right {
  -webkit-box-shadow: 15px 30px 37px 5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 15px 30px 37px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 15px 30px 37px 5px rgba(0, 0, 0, 0.29);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.summary {
  align-self: flex-start;
  color: hsl(224, 30%, 27%);
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.container {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.span1 {
  font-weight: 800;
  color: hsl(224, 30%, 27%);
  margin-right: 8px;
}

.span2 {
  font-weight: 800;
  color: hsl(241, 100%, 89%);
}

img {
  padding: 0 5px;
}

.left-container,
img,
span,
.right-container {
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
}

#continue {
  font-size: 17px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
}

button {
  padding: 15px 100px;
  border: none;
  border-radius: 30px;
  background-color: hsl(224, 30%, 27%);
}
